In [2]:
import pandas as pd

In [3]:
weather = pd.read_csv("3132219.csv", index_col = "DATE")

In [4]:
weather

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,ACMH,ACSH,AWND,FMTM,PGTM,...,WT06,WT07,WT08,WT09,WT10,WT11,WT13,WT14,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1952-11-01,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1206.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952-11-02,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1312.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952-11-03,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1512.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1952-11-04,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1042.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952-11-05,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1154.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-28,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,2.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-29,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-30,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,3.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,2.8,NaN,1456.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weather.loc["1960-01-01":"1960-01-31",:]

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,ACMH,ACSH,AWND,FMTM,PGTM,...,WT06,WT07,WT08,WT09,WT10,WT11,WT13,WT14,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1442.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-03,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1600.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,948.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-06,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1406.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-07,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-08,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1300.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-09,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-10,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-11,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1330.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-12,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1300.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-13,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,2148.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-14,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1242.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-15,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1548.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-16,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1042.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-17,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-18,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-19,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,842.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-20,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1648.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-21,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-22,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,936.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-23,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1242.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-24,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-25,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1506.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-26,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1142.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-27,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-28,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1124.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-29,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1442.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-30,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1554.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-31,USW00012839,"MIAMI INTERNATIONAL AIRPORT, FL US",25.78805,-80.31694,1.4,NaN,NaN,NaN,NaN,1018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [6]:
(weather.apply(pd.isnull).sum()/weather.shape[0])*100

STATION       0.000000
NAME          0.000000
LATITUDE      0.000000
LONGITUDE     0.000000
ELEVATION     0.000000
ACMH         55.006258
ACSH         55.006258
AWND         44.532228
FMTM         60.125939
PGTM         18.691333
PRCP          0.000000
PSUN         84.461045
SNOW         28.308824
SNWD         28.868116
TAVG         75.825250
TMAX          0.000000
TMIN          0.000000
TSUN         61.576971
WDF1         55.006258
WDF2         62.378755
WDF5         62.437422
WDFG         37.722935
WESD         77.135482
WSF1         55.006258
WSF2         62.378755
WSF5         62.437422
WSFG         37.691646
WT01         83.502816
WT02         98.912703
WT03         79.646433
WT04         99.988267
WT05         98.529412
WT06         99.976533
WT07         99.910044
WT08         86.897685
WT09         99.960889
WT10         99.835732
WT11         99.921777
WT13         94.938986
WT14         99.710576
WT16         56.296934
WT18         99.996089
dtype: float64

In [7]:
core_weather = weather[["PRCP", "SNOW","SNWD","TMAX","TMIN"]].copy()

In [8]:
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"]

In [9]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1952-11-01     0.0   0.0         0.0      28.3      23.9
1952-11-02     0.0   0.0         0.0      28.9      22.2
1952-11-03     0.0   0.0         0.0      29.4      22.2
1952-11-04     0.0   0.0         0.0      28.9      21.1
1952-11-05     0.0   0.0         0.0      27.2      18.3
...            ...   ...         ...       ...       ...
2022-10-28     0.0   0.0         0.0      30.6      22.2
2022-10-29     0.0   0.0         0.0      31.1      23.9
2022-10-30     0.0   0.0         0.0      30.6      25.0
2022-10-31     0.0   0.0         0.0      31.1      24.4
2022-11-01     0.5   0.0         0.0      32.2      26.1

[25568 rows x 5 columns]

In [10]:
(core_weather.apply(pd.isnull).sum()/weather.shape[0])*100

precip         0.000000
snow          28.308824
snow_depth    28.868116
temp_max       0.000000
temp_min       0.000000
dtype: float64

In [11]:
core_weather["snow"].value_counts()

0.0    18330
Name: snow, dtype: int64

In [12]:
core_weather["snow_depth"].value_counts()

0.0      18186
229.0        1
Name: snow_depth, dtype: int64

In [13]:
core_weather[pd.isnull(core_weather["precip"])]

Empty DataFrame
Columns: [precip, snow, snow_depth, temp_max, temp_min]
Index: []

In [14]:
core_weather.loc["2013-12-15",:]

precip         0.0
snow           NaN
snow_depth     NaN
temp_max      30.0
temp_min      23.3
Name: 2013-12-15, dtype: float64

In [15]:
core_weather["precip"].value_counts()

0.0      16116
0.3        817
0.5        564
0.8        391
1.3        380
         ...
377.2        1
101.9        1
167.6        1
292.4        1
19.0         1
Name: precip, Length: 387, dtype: int64

In [16]:
core_weather.apply(pd.isnull).sum()

precip           0
snow          7238
snow_depth    7381
temp_max         0
temp_min         0
dtype: int64

In [17]:
core_weather[pd.isnull(core_weather["temp_min"])]

Empty DataFrame
Columns: [precip, snow, snow_depth, temp_max, temp_min]
Index: []

In [18]:
core_weather.loc["2011-12-18":"2011-12-28"]

            precip  snow  snow_depth  temp_max  temp_min
DATE
2011-12-18     0.0   NaN         NaN      26.7      18.9
2011-12-19     0.0   NaN         NaN      24.4      20.0
2011-12-20     0.0   NaN         NaN      26.1      20.6
2011-12-21     0.0   NaN         NaN      26.7      21.1
2011-12-22     0.0   NaN         NaN      27.2      21.7
2011-12-23     0.0   NaN         NaN      27.8      21.1
2011-12-24     0.0   NaN         NaN      27.8      21.1
2011-12-25     0.0   NaN         NaN      27.8      21.1
2011-12-26     0.0   NaN         NaN      27.8      20.0
2011-12-27     0.0   NaN         NaN      27.8      20.6
2011-12-28     0.0   NaN         NaN      22.8      14.4

In [19]:
core_weather = core_weather.fillna(method="ffill")

In [22]:
core_weather.apply(pd.isnull).sum()

precip      0
temp_max    0
temp_min    0
dtype: int64

In [21]:
del core_weather["snow"]
del core_weather["snow_depth"]

In [23]:
core_weather.index

Index(['1952-11-01', '1952-11-02', '1952-11-03', '1952-11-04', '1952-11-05',
       '1952-11-06', '1952-11-07', '1952-11-08', '1952-11-09', '1952-11-10',
       ...
       '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27',
       '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01'],
      dtype='object', name='DATE', length=25568)

In [26]:
core_weather.apply(lambda x: (x == 9999).sum())

precip      0
temp_max    0
temp_min    0
dtype: int64

In [27]:
core_weather.index = pd.to_datetime(core_weather.index)

In [28]:
core_weather.index

DatetimeIndex(['1952-11-01', '1952-11-02', '1952-11-03', '1952-11-04',
               '1952-11-05', '1952-11-06', '1952-11-07', '1952-11-08',
               '1952-11-09', '1952-11-10',
               ...
               '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26',
               '2022-10-27', '2022-10-28', '2022-10-29', '2022-10-30',
               '2022-10-31', '2022-11-01'],
              dtype='datetime64[ns]', name='DATE', length=25568, freq=None)